<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.navy.dao.CartDao">

<insert id="insert">
	INSERT INTO tbl_cart(
	
	bk_id,
	username,
	bk_p_code,
	bk_p_name,
	bk_p_size,
	bk_p_color,
	bk_p_oprice,
	bk_p_qty,
	bk_p_status
	
	)VALUES(
	seq_cart.nextval,
	#{username,jdbcType=VARCHAR},
	#{bk_p_code,jdbcType=VARCHAR},
	#{bk_p_name,jdbcType=VARCHAR},
	#{bk_p_size,jdbcType=VARCHAR},
	#{bk_p_color,jdbcType=VARCHAR},
	#{bk_p_oprice,jdbcType=VARCHAR},
	#{bk_p_qty,jdbcType=VARCHAR},
	#{bk_p_status,jdbcType=VARCHAR}
	)
	
</insert>

	<delete id="cart_list_delete" parameterType="List">
		DELETE FROM tbl_cart
		where bk_id in (

		<foreach collection="list" item="bk_id" separator=", ">
			#{bk_id}
		</foreach>

		)

	</delete>
	
	<update id="cart_to_delivery" parameterType="List">
	
	UPDATE tbl_cart
	SET bk_p_status = 'DELIV',
	bk_p_buyTime = sysdate

	WHERE bk_id IN (
	<foreach collection="list" item="cart" separator=", ">
	#{cart.bk_id}
	</foreach>
	
	)
	</update>
	
	<select id="paymentList" resultType="cartVO">
 	SELECT * FROM
 		(
 			SELECT /* + FIRST_ROWS_100 */ ROWNUM AS NUM, IP.* FROM
 			(
 				SELECT /*+ INDEX_DESC(C) */ * FROM tbl_cart C where C.username = #{username} AND C.bk_p_status = 'DELIV'
 			)IP
 			WHERE ROWNUM &lt;= #{pageVO.limit,jdbcType=VARCHAR}
 		)TBL
 		
 		WHERE NUM &gt;= #{pageVO.offset,jdbcType=VARCHAR}
 	</select>
	
	
	<update id="recipient_update" parameterType="cartVO">
		UPDATE tbl_cart SET
			bk_recipient_name = #{cartVO.bk_recipient_name,jdbcType=VARCHAR},
			bk_recipient_phone = #{cartVO.bk_recipient_phone,jdbcType=VARCHAR},
			bk_recipient_address = #{cartVO.bk_recipient_address,jdbcType=VARCHAR},
			bk_recipient_address_etc = #{cartVO.bk_recipient_address_etc,jdbcType=VARCHAR},
			bk_recipient_message = #{cartVO.bk_recipient_message,jdbcType=VARCHAR}

			WHERE bk_id IN (
			<foreach collection="bkSeqList" item="seq" separator=", ">
				#{seq}
			</foreach>
	
	)
	</update>
	
	<!-- 주문정보 검색 후 페이징 위해 리스트 개수 세기 -->
	<select id="countSearch" resultType="Long">
		SELECT COUNT(*) FROM tbl_cart
		<where>
			<foreach collection="searchList" item="search" separator="OR">
				username LIKE '%' || #{search,jdbcType=VARCHAR} || '%'
			</foreach>
		</where>
		
	</select>
	<!-- 주문정보를 검색하고 페이징 -->
	<select id="findBySearchNameAndPaging" resultType="cartVO">
		SELECT * FROM
		(
			SELECT /*+ FIRST_ROWS 100 */ ROWNUM AS NUM, IP.* FROM
			(
				SELECT /*+ INDEX_DESC(C) FIRST_ROWS */ * FROM tbl_cart C
				<where>
					<foreach collection="searchList" item="search" separator="OR">
						username LIKE '%' || #{search,jdbcType=VARCHAR} || '%'		
					</foreach>
				</where>
			) IP
			WHERE ROWNUM &lt; = #{pageVO.limit,jdbcType=VARCHAR}
		) 
		WHERE NUM &gt; = #{pageVO.offset,jdbcType=VARCHAR}	
	
	
	</select>
	<!-- 주문정보 모두 불러와서 페이징 -->
	<select id="selectAllPaging" resultType="list">
		SELECT * FROM
		(
			SELECT /*+ FIRST_ROWS_100 */ ROWNUM AS NUM, IP.* FROM
			(
				SELECT /*+ INDEX_DESC(C) FIRST_ROWS */ * FROM tbl_cart C
			) IP
			WHERE ROWNUM &lt; = #{limit,jdbcType=VARCHAR}
		)
		WHERE NUM &gt; = #{offset,jdbcType=VARCHAR}
	</select>
	
</mapper> 