<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.navy.dao.CsDao">

	<select id="countSearch" resultType="Long">
		SELECT COUNT(*) FROM tbl_cs
		<where>
			<foreach collection="searchList" item="search" separator="OR">
				cs_title LIKE '%' || #{search,jdbcType=VARCHAR} || '%'
			</foreach>
		</where>
		
	</select>
	
	<select id="findBySearchNameAndPaging" resultType="csVO">
		SELECT * FROM
		(
			SELECT /*+ FIRST_ROWS 100 */ ROWNUM AS NUM, IP.* FROM
			(
				SELECT /*+ INDEX_DESC(C) FIRST_ROWS */ * FROM tbl_cs C
				<where>
					<foreach collection="searchList" item="search" separator="OR">
						cs_title LIKE '%' || #{search,jdbcType=VARCHAR} || '%'		
					</foreach>
				</where>
			) IP
			WHERE ROWNUM &lt; = #{pageVO.limit,jdbcType=VARCHAR}
		) 
		WHERE NUM &gt; = #{pageVO.offset,jdbcType=VARCHAR}	
	
	
	</select>


	<select id="countAll" resultType="Long">
		SELECT COUNT(*) FROM tbl_cs
	</select>


	<select id="selectAllPaging" resultType="list">
		SELECT * FROM
		(
			SELECT /*+ FIRST_ROWS_100 */ ROWNUM AS NUM, IP.* FROM
			(
				SELECT /*+ INDEX_DESC(C) FIRST_ROWS */ * FROM tbl_cs C
			) IP
			WHERE ROWNUM &lt; = #{limit,jdbcType=VARCHAR}
		)
		WHERE NUM &gt; = #{offset,jdbcType=VARCHAR}
	</select>
	
	<select id="findCommentByBId" resultType="cscommentVO">
 		SELECT cs_c_id, cs_c_p_id, cs_c_b_id, 
 				cs_c_writer, cs_c_date, cs_c_time,
				cs_c_subject
		FROM tbl_cs_comment
		WHERE cs_c_b_id = #{cs_id}
		START WITH cs_c_p_id = 0
		CONNECT BY PRIOR cs_c_id = cs_c_p_id
		ORDER SIBLINGS BY cs_c_p_id
	</select>

	<insert id="insertComment" parameterType="cscommentVO">
		INSERT INTO tbl_cs_comment(
		    cs_c_id,
		    cs_c_b_id,
		    cs_c_p_id,
		    cs_c_date,
		    cs_c_time,
		    cs_c_writer,
		    cs_c_subject
		    ) VALUES (
				SEQ_CS_COMMENT.NEXTVAL,
			    #{cs_c_b_id},
			    #{cs_c_p_id,jdbcType=VARCHAR},
			    #{cs_c_date},
			    #{cs_c_time},
			    #{cs_c_writer,jdbcType=VARCHAR},
			    #{cs_c_subject,jdbcType=VARCHAR}			    
		    )
		
	</insert>
	


</mapper> 