<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.navy.dao.ProductDao">

	<insert id="insert" parameterType="productVO">
		INSERT INTO tbl_product(
		
		p_code,
		p_name,
		p_price,
		p_desc,
		p_image,
		p_size,
		p_color,
		p_qty
		
		) VALUES (
		SEQ_PRODUCT.NEXTVAL,
		#{p_name},
		#{p_price},
		#{p_desc,jdbcType=VARCHAR},
		#{p_image,jdbcType=VARCHAR},
		#{p_size,jdbcType=VARCHAR},
		#{p_color,jdbcType=VARCHAR},
		#{p_qty,jdbcType=VARCHAR}
		)
		
	</insert>

	<update id="update" parameterType="productVO">
		UPDATE tbl_product SET
			p_name = #{p_name},
			p_price = #{p_price},
			p_desc = #{p_desc,jdbcType=VARCHAR},
			p_image = #{p_image,jdbcType=VARCHAR}

		WHERE p_code = #{p_code}
	</update>
	


</mapper> 