<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.navy.dao.ProductDao">

	<insert id="insert" parameterType="productVO">
      INSERT INTO tbl_product(
      
      p_code,
      p_name,
      p_price,
      p_desc,
      p_image,
      p_size,
      p_color,
      p_date,
      p_time,
      p_qty
      
      ) VALUES (
      SEQ_PRODUCT.NEXTVAL,
      #{p_name},
      #{p_price},
      #{p_desc,jdbcType=VARCHAR},
      #{p_image,jdbcType=VARCHAR},
      #{p_size,jdbcType=VARCHAR},
      #{p_color,jdbcType=VARCHAR},
      #{p_date},
      #{p_time},
      #{p_qty,jdbcType=VARCHAR}
      )
      
   </insert>

	<insert id="insertWithSize" parameterType="list">
		INSERT INTO tbl_size(s_code, s_p_code, s_size)
		SELECT SEQ_SIZE.NEXTVAL, sub.* from(
		<foreach collection="list" item="sizeVO" separator="UNION ALL">
			SELECT
				#{sizeVO.s_p_code,jdbcType=VARCHAR},
				#{sizeVO.s_size,jdbcType=VARCHAR}
			FROM dual
		</foreach>
		) sub
		
	</insert>
	<!--  원본 백업  -->
	<insert id="insertWithSize2" parameterType="list">
		INSERT INTO tbl_size(s_code, s_p_code, s_size)
		SELECT SEQ_SIZE.NEXTVAL, sub.* from(
		<foreach collection="list" item="sizeVO" separator="UNION ALL">
			SELECT
				#{sizeVO.s_p_code,jdbcType=VARCHAR},
				#{sizeVO.s_size,jdbcType=VARCHAR}
			FROM dual
		</foreach>
		) sub
		
	</insert>
	
	<insert id="insertWithColor" parameterType="list">
		INSERT INTO tbl_color(c_code, c_s_code, c_color, c_qty)
		SELECT SEQ_COLOR.NEXTVAL, sub.* from(
		<foreach collection="list" item="color" separator="UNION ALL">
			SELECT
				#{color.c_s_code,jdbcType=VARCHAR},
				#{color.c_color,jdbcType=VARCHAR},
				#{color.c_qty,jdbcType=VARCHAR}
			FROM dual
		</foreach>
		) sub
		
	</insert>
	
	<insert id="insertWithImages" parameterType="list">
		INSERT INTO tbl_p_images(p_img_seq, p_img_p_code, p_img_origin_name, p_img_upload_name)
		SELECT SEQ_PRODUCT_IMAGE.NEXTVAL, sub.* from(
		<foreach collection="list" item="img" separator="UNION ALL">
			SELECT
				#{img.p_img_p_code,jdbcType=VARCHAR},
				#{img.p_img_origin_name,jdbcType=VARCHAR},
				#{img.p_img_upload_name,jdbcType=VARCHAR}
			FROM dual
		</foreach>
		) sub
	</insert>
	

	<update id="update" parameterType="productVO">
		UPDATE tbl_product SET
			p_name = #{p_name},
			p_price = #{p_price},
			p_desc = #{p_desc,jdbcType=VARCHAR},
			p_image = #{p_image,jdbcType=VARCHAR}

		WHERE p_code = #{p_code}
	</update>
	


</mapper> 